@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand";
  font-size: 1.75rem;
  color: #333;
  box-sizing: border-box;
}

.game-board-row {
  border: 0;
}
.game-board-cell {
  width: 5rem;
  height: 5rem;
  display: inline;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid #333;
}
